body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
  margin-block: 12px;
}

.content {
  background: #e3f4ff;
  padding-inline: 12px;
  padding-block: 16px;
  margin-top: 0;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  margin-top: 12px;
  padding-block: 10px;
}

button {
  display: block;
  padding-block: 8px;
  padding-inline:20px;
  background: white;
  border: 1px solid #eee;
  margin-inline: auto;
}